@page
@model TransporteBusesApp.Frontend.Pages.FormBusesModel
@{
} 

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                <h6>Nuevo Registro</h6>
                <h2>Registra el nuevo Bus</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card p-5">
                <form method="POST" enctype="multipart/form-data">                   
                    <div class="form-group row">
                        <label asp-for="bus.marca" class="form-label col-sm-2">Marca:</label>
                        <input class="form-control col-sm-10" asp-for="bus.marca" required placeholder="Marca">
                    </div>
                    <div class="form-group row">
                        <label asp-for="bus.modelo" class="form-label col-sm-2">Modelo:</label>
                        <input class="form-control col-sm-10" asp-for="bus.modelo" required placeholder="Modelo">
                    </div>
                    <div class="form-group row">
                        <label asp-for="bus.kilometraje" class="form-label col-sm-2 ">Kilometraje:</label>
                        <input class="form-control col-sm-10" asp-for="bus.kilometraje" required placeholder="Kilometraje">
                    </div>
                    <div class="form-group row">
                        <label asp-for="bus.nro_asientos" class="form-label col-sm-2">No. de Asientos:</label>
                        <input class="form-control col-sm-10" asp-for="bus.nro_asientos" required placeholder="No de Asientos">
                    </div>
                    <div class="form-group row">
                        <label asp-for="bus.placa" class="form-label col-sm-2">Placa:</label>
                        <input class="form-control col-sm-10" asp-for="bus.placa" required placeholder="Placa">
                    </div>
                    <div class="form-group row">
                        <label asp-for="bus.foto" class="form-label col-sm-2">Ruta Foto:</label>
                        <input class="form-control col-sm-10" asp-for="bus.foto" required placeholder="Ingrese la URL de la Foto">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
