@page
@model TransporteBusesApp.Frontend.Pages.FormBusesModel
@{
} 

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="top-text header-text">
                <h6>Nuevo Registro</h6>
                <h2>Registra el nuevo Bus</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="inner-content">
    <div class="row">
        <div class="col-lg-6">
        <div id="map">
            <img width="100%" height="650px" src="/assets/images/buses.jpg" alt="">
        </div>
    </div>
    <div class="col-lg-6 align-self-center">
        <form id="contact" action="" method="POST">                   
                <div class="row">
                <div class="col-lg-12">
                    <fieldset>
                    <input type="text" class="form-control col-sm-10" asp-for="bus.marca" required placeholder="Marca">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                    <input class="form-control col-sm-10" asp-for="bus.modelo" required placeholder="Modelo">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                    <input class="form-control col-sm-10" asp-for="bus.kilometraje" required placeholder="Kilometraje">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                    <input class="form-control col-sm-10" asp-for="bus.nro_asientos" required placeholder="No de Asientos">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                    <input class="form-control col-sm-10" asp-for="bus.placa" required placeholder="Placa">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                    <input class="form-control col-sm-10" asp-for="bus.foto" required placeholder="Ingrese la URL de la Foto">
                    </fieldset>
                </div>
                 <div class="col-lg-12">
                    <fieldset>
                    <button class="btn btn-success" type="submit">Registrar Bus</button>
                    </fieldset>
                </div> 
                </div>          
                
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <partial name="_NotificationsPartial"></partial> @* se agrega la vista parcial de la notificacion *@
</div>
 @section Scripts {
  @{ 
     await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
 }   