@page
<<<<<<< HEAD

=======
>>>>>>> Paula
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-banner">
    <div class="mbr-overlay" style="opacity: 0.8;background-color: rgb(51, 42, 104);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <div class="top-text header-text">
                <h6>Un montón de Rutas por explorar</h6>
                <h2>Busca la ruta deseada</h2>
            </div>
            </div>
            <div class="col-lg-12">
            <form id="search-form" name="gs" method="post" role="search"  >
                <div class="row">
                <div class="col-lg-4 align-self-center">
                    <fieldset>
                        <select asp-items="@Model.lst_origen" asp-for="@Model.id_origen"  class="form-select" aria-label="Area" >
                            <option selected>Origen</option>
                            
                        </select>
                    </fieldset>
                </div>
                <div class="col-lg-4 align-self-center">
                    <fieldset>
                        <select asp-items="@Model.lst_destino" asp-for="@Model.id_destino" class="form-select" aria-label="Default select example" >
                            <option selected>Destino</option>
                           
                        </select>
                    </fieldset>
                </div>
                <div class="col-lg-4">                        
                    <fieldset>
                        <button class="main-button" type="submit"><i class="fa fa-search" ></i> Buscar</button>
                    </fieldset>
                </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="text-center">
    <h1 class="display-4">Bienvenidos APP Transportes</h1>
    <img src="/images/station image.jpg", style="max-width:100%;max-height:50%;">
</div>-->
