@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos APP Transportes</h1>
    <img src="/images/station image.jpg", style="max-width: 100%; height: auto;"/>
</div>
