@page
@model TransporteBusesApp.Frontend.Pages.FormRutasModel
@using TransporteBusesApp.Dominio;
@{
}
<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>Rutas</h6>
            <h2>Formulario Creacion de Rutas</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  @if(@Model.mensaje == "error"){
    <h4>@Model.mensaje : Estaciones Iguales</h4>
  }
<div class="text-center " >
    <form method="POST" class="mt-4">
        <div class="form-group row">
        <label asp-for="ruta.origen" class="col-form-label col-2 font-weight-bold">Origen:</label>
        <div class="col-10">
        <select asp-for="ruta.origenid" asp-items="@Model.lst_origen" class="form-control">
          <option>seleccione las estacion de origen</option>
        </select>
        </div></div>
        <div class="form-group row">
        <label asp-for="ruta.destino.id" class="col-form-label col-2 font-weight-bold">Destino:</label>
        <div class="col-10">
        <select asp-for="ruta.destinoid" asp-items="@Model.lst_destino" class="form-control">
          <option>seleccione la estacion de destino</option>
        </select>
        </div></div>
        <div class="form-group row">
        <label asp-for="ruta.tiempo_estimado" class="col-form-label col-2 font-weight-bold">Tiempo Estimado:</label>
        <div class="col-10">
        <input type="text" class="form-control" asp-for="ruta.tiempo_estimado" required placeholder="Tiempo Estimado">
        </div>
        </div>
        
        <hr>
        <button type="submit" class="btn btn-success">Crear Ruta</button>
    </form>
</div>