@page
@model TransporteBusesApp.Frontend.Pages.FormRutasModel
@{
}
<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>Rutas</h6>
            <h2>Formulario Creacion de Rutas</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="text-center " >
    <form method="POST" class="mt-4">
        <div class="form-group row">
        <label for="origen" class="col-form-label col-2 font-weight-bold">Origen:</label>
        <div class="col-10">
        <input type="text" class="form-control" id="origen" name="origen" required placeholder="Origen">
        </div>
        </div>
        <div class="form-group row">
        <label for="destino" class="col-form-label col-2 font-weight-bold">Destino:</label>
        <div class="col-10">
        <input type="text" class="form-control" id="destino" name="destino" required placeholder="Destino">
        </div>
        </div>
        <div class="form-group row">
        <label for="tiempo_estimado" class="col-form-label col-2 font-weight-bold">Tiempo Estimado:</label>
        <div class="col-10">
        <input type="text" class="form-control" id="tiempo_estimado" name="tiempo_estimado" required placeholder="Tiempo Estimado">
        </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-success">Crear Ruta</button>
    </form>
</div>