@page
@model TransporteBusesApp.Frontend.Pages.Rutas.Edit
@{
    ViewData["Title"] = "Edit";
}

<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>Rutas</h6>
            <h2>Formulario Edicion de Rutas</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

<div>
    <partial name="_NotificationsPartial"></partial> @* se agrega la vista parcial de la notificacion *@
</div>

 @section Scripts {
  @{ 
     await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
 }   