@page
@model TransporteBusesApp.Frontend.Pages.Rutas.Edit
@{
    ViewData["Title"] = "Edit";
}


<div>
    <partial name="_NotificationsPartial"></partial> @* se agrega la vista parcial de la notificacion *@
</div>

 @section Scripts {
  @{ 
     await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
 }   