@page
@{
}
 
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tiempo Estimado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Centro</td>
      <td>Terminal</td>
      <td>40</td>
      <td>
          <button type="button" class="btn btn-info">Editar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Terminal</td>
      <td>Estadio</td>
      <td>20</td>
      <td>
          <button type="button" class="btn btn-info">Editar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Estadio</td>
      <td>Centro</td>
      <td>15</td>
      <td>
          <button type="button" class="btn btn-info">Editar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </td>
    </tr>
  </tbody>
</table>