@page
@model TransporteBusesApp.Frontend.Pages.ListRutasModel;

@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><label asp-for="Rutas.FirstOrDefault().id"></label></th>
      <th scope="col"><label asp-for="Rutas.FirstOrDefault().origen"></label></th>
      <th scope="col"><label asp-for="Rutas.FirstOrDefault().destino"></label></th>
      <th scope="col"><label asp-for="Rutas.FirstOrDefault().tiempo_estimado"></label></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Centro</td>
      <td>Terminal</td>
      <td>25</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Terminal</td>
      <td>Estadio</td>
      <td>20</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Estadio</td>
      <td>Centro</td>
      <td>15</td>
    </tr>
  </tbody>
</table>