@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li >
        <a class="text-secondary" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li >
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button class="text-secondary" id="logout" type="submit" >Logout</button>
        </form>
    </li>
}
else
{
    <li >
        <a class="text-secondary" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li >
        <a class="text-secondary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

