@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>Log Out</h6>
            <h2>Log Out Usuario</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

<header>
    
    <p>You have successfully logged out of the application.</p>
</header>