@page
@model TransporteBusesApp.Frontend.Areas.Identity.Pages.Account.RegisterConfirmation
@{
    ViewData["Title"] = "RegisterConfirmation";
}

<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>Confirmacion de Registro</h6>
            <h2>Confirmacion</h2>
          </div>
        </div>
      </div>
    </div>
</div>

<div>
    
</div>