@page
@{
}


<div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Estaciones</a>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Estaciones/Create">Crear Estaciones</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-page="/Estaciones/List">Listar Estaciones</a>
                        </li>
                    </ul>
                </div>
</div>


